header {
  background-color: #095797;
  height: 8.5rem;
}
/*
header .logo img {
  height: auto;
}
*/
header .logo .entete {
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo .entete img {
  height: auto;
  padding-right: 1rem;
  margin-top: -10px;
}
header::after {
  background: none;
}
.searchbox {
  text-align: right;
}
.searchbox input {
  width: 20%;
}
article {
  margin-top: 7.0rem;
}
article > aside {
  top: 5.0rem;
}
article section.page h1:first-of-type {
  margin: 1rem 0rem;
  font-size: 1.5rem;
}
article section.page table {
  width: 80%;
/*
  margin-left: auto;
  margin-right: auto;
*/
  font-size: 1.0rem;
}
article section.page table th {
  text-transform: none;
  text-align: left;
}
article section.attachments li {
  margin-left: 1rem;
}
#navigation {
  padding: 0.75rem 0rem;
}
/*
#navigation a {
  color: #2980b9;
}
*/
#navigation a i {
  font-size: 1.5em;
}
#navigation a label {
  font-size: 1.0rem;
  margin-left: 1.0rem;
  margin-right: 1.0rem;
}
footer {
  color: #5c5c5c;
}
footer .footline {
  display: initial;
}
footer .footline .date {
  display: none;
  text-align: left;
}
footer .footline .github-link {
  display: none;
}
footer .pied-de-page img {
  display: flex;
  margin: 1rem auto auto auto;
}
footer .pied-de-page p {
  display: flex;
  margin: auto;
  width: 15rem;
  margin-top: -6px;
}
